# local user should be your name written like firstnamelastname - you can check though
LOCAL_USER = 

# this is just localhost 
LOCAL_HOST = localhost

# you select the database you want, I chose musicbase 
DATABASE = musicbase

# you select the table you want inside the database you chose above
TABLE = artists

# I dont think a password was needed to access our databases but check
LOCAL_PASSWORD = 

# this was the default port number 
LOCAL_PORT = 5432